.chat {
  border: 1px solid #333;
  width: 14%;
  min-width: 200px;
  height: 70%;
  background: #555;
  color: #fff;
  display: none;
  
}

.chat-messages {
  height: 365px;
  overflow: auto;
  padding: 3px;
}

.chat-messages__content {
  padding: 1px;
}

.chat__messages {
  border-left: 3px solid #333;
  margin-top: 2px;
  padding: 2px;
}

.chat-input {
  min-height: 6%;
}

input {
  font-size: 12px;
  background: #333;
  color: #fff;
  border: 0;
  margin: 1px;
  height: 23px;
  caret-color: auto;
}

.chat-form__input {
  width: 80%;
}

.chat-form__button {
  width: 18%
}