section {
  margin-top: 100px;
  caret-color: transparent;
  display: flex;
}

.video-1-dimensions {
  width: 83vmin;
}

@media (max-width: 1024px) {
  section {
    flex-wrap: wrap;
    justify-content: space-evenly
  }

  .video-1-dimensions {
    width: 99vmin;
    height: 48vmin;
  }
}